# Domínios via .env (Caddy substitui {$VAR})
# Ex.: APP_DOMAIN=www.virachat.com.br  APP_ALIAS=app.virachat.com.br

{$APP_DOMAIN}, {$APP_ALIAS} {
	reverse_proxy virachat:3000
}

{$ROOT_DOMAIN} {
	redir https://{$APP_DOMAIN}{uri} permanent
}

{$WA_DOMAIN} {
	reverse_proxy evolution-api:8080
}

{$API_DOMAIN} {
	reverse_proxy {$SUPABASE_KONG_UPSTREAM}
}
